# Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import f_oneway

In [3]:
# Load the data:
# Your code here:
pokemon_df = pd.read_csv('Pokemon.csv')
display(pokemon_df.head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [6]:
# Your code here
# Combine unique values from Type 1 and Type 2
unique_types = pd.concat([pokemon_df['Type 1'], pokemon_df['Type 2']]).dropna().unique()

len(unique_types) # you should see 19
unique_types

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [10]:
pokemon_totals = []

for poke_type in unique_types:
    if isinstance(poke_type, str):  # Skip NaN (float type)
        totals = pokemon_df[(pokemon_df['Type 1'] == poke_type) | (pokemon_df['Type 2'] == poke_type)]['Total']
        pokemon_totals.append(totals.values)

len(pokemon_totals) # you should see 18

display(pokemon_totals)

[array([318, 405, 525, 625, 320, 395, 490, 285, 405, 300, 390, 490, 325,
        520, 435, 318, 405, 525, 490, 250, 340, 460, 180, 425, 600, 310,
        405, 530, 630, 220, 340, 480, 220, 340, 480, 295, 460, 400, 335,
        475, 355, 495, 460, 318, 405, 525, 280, 515, 424, 275, 450, 454,
        334, 494, 594, 535, 525, 520, 600, 600, 308, 413, 528, 316, 498,
        310, 380, 500, 280, 480, 280, 480, 461, 335, 475, 294, 464, 305,
        489, 580, 313, 405, 530, 350, 531, 309, 474, 335, 335, 335, 335,
        494, 494, 494, 494], dtype=int64),
 array([309, 405, 534, 634, 634, 299, 505, 350, 555, 410, 500, 495, 525,
        580, 309, 405, 534, 250, 410, 330, 500, 600, 365, 580, 680, 310,
        405, 530, 630, 305, 460, 560, 470, 770, 309, 405, 534, 540, 520,
        600, 600, 308, 418, 528, 316, 498, 315, 480, 540, 275, 370, 520,
        484, 360, 550, 680, 307, 409, 534, 382, 499, 369, 507, 600],
       dtype=int64),
 array([314, 405, 530, 630, 320, 500, 300, 385, 510, 335, 515, 315, 490,
        590, 325, 475, 305, 525, 325, 475, 295, 440, 320, 450, 340, 520,
        200, 540, 640, 535, 525, 355, 495, 355, 495, 314, 405, 530, 330,
        460, 250, 420, 500, 210, 430, 490, 430, 380, 300, 480, 465, 540,
        580, 310, 405, 535, 635, 220, 340, 480, 270, 430, 269, 305, 460,
        560, 400, 500, 288, 468, 308, 468, 200, 540, 290, 410, 530, 345,
        485, 485, 485, 330, 670, 770, 314, 405, 530, 410, 330, 495, 325,
        475, 330, 460, 345, 520, 680, 480, 600, 308, 413, 528, 316, 498,
        294, 384, 509, 460, 355, 495, 305, 473, 335, 480, 470, 580, 580,
        314, 405, 530, 306, 500, 320, 330, 500, 600], dtype=int64),
 array([195, 205, 395, 195, 205, 395, 495, 285, 405, 305, 450, 500, 500,
        600, 265, 390, 250, 390, 390, 290, 465, 500, 600, 505, 500, 600,
        195, 205, 395, 205, 385, 269, 414, 266, 456, 236, 400, 400, 355,
        495, 194, 384, 224, 424, 424, 424, 424, 244, 474, 330, 515, 310,
        380, 500, 260, 360, 485, 325, 475, 315, 495, 319, 472, 305, 495,
        484, 360, 550, 600, 200, 213, 411], dtype=int64),
 array([251, 349, 479, 579, 253, 413, 262, 442, 270, 435, 290, 440, 352,
        310, 460, 385, 450, 490, 590, 490, 288, 325, 395, 540, 215, 415,
        262, 442, 210, 360, 455, 415, 330, 500, 515, 465, 250, 490, 540,
        240, 420, 270, 430, 280, 440, 670, 240, 360, 490, 190, 260, 380,
        360, 310, 458, 420, 440, 245, 340, 485, 250, 410, 482, 350, 480,
        580, 310, 452, 220, 411, 390, 515, 535, 670, 720, 255, 420, 275,
        370, 500, 264, 358, 488, 445, 545, 300, 470, 335, 475, 490, 350,
        510, 600, 600, 237, 423, 278, 369, 507, 472, 289, 481], dtype=int64),
 array([318, 405, 525, 625, 195, 205, 395, 495, 288, 438, 275, 365, 505,
        273, 365, 505, 245, 455, 320, 395, 490, 305, 450, 300, 390, 490,
        335, 515, 325, 500, 310, 405, 500, 600, 340, 490, 250, 390, 535,
        430, 385, 400, 302, 467, 458, 280, 515, 329, 479, 330, 500, 300,
        490, 260, 360, 485, 329, 474, 294, 464, 320, 494], dtype=int64),
 array([320, 485, 325, 465, 330, 480, 490, 525, 580, 330, 460, 205, 280,
        365, 510, 610, 360, 580, 295, 475, 575, 405, 405, 263, 363, 523,
        405, 535, 540, 440, 520, 520, 520, 520, 520, 295, 497, 428, 319,
        472, 275, 405, 515, 471, 580, 580, 680, 289, 481, 431], dtype=int64),
 array([300, 450, 505, 505, 265, 405, 300, 390, 495, 385, 320, 425, 345,
        485, 210, 430, 430, 510, 610, 250, 450, 330, 500, 300, 410, 405,
        535, 635, 266, 305, 460, 560, 290, 340, 520, 288, 468, 300, 500,
        670, 770, 525, 424, 475, 300, 410, 600, 700, 330, 525, 535, 510,
        530, 328, 508, 384, 509, 292, 351, 519, 471, 303, 483, 600, 600,
        423, 600], dtype=int64),
 array([323, 483, 270, 435, 460, 218, 210, 245, 405, 250, 420, 300, 450,
        198, 278, 518, 618, 190, 380, 480, 590, 310, 545, 545, 280, 480,
        303, 371, 552, 341, 462, 341, 480, 525, 431, 500, 470, 680, 600,
        700], dtype=int64),
 array([305, 455, 510, 305, 405, 505, 455, 455, 780, 500, 600, 210, 455,
        405, 530, 630, 460, 237, 474, 280, 410, 510, 405, 534, 580, 285,
        525, 625, 300, 490, 518, 618, 418, 528, 305, 405, 505, 465, 465,
        348, 488, 350, 510, 580, 580, 580, 580, 580, 600, 530, 348, 495,
        500], dtype=int64),
 array([310, 400, 500, 590, 315, 490, 590, 328, 483, 325, 520, 520, 460,
        455, 680, 780, 780, 600, 320, 470, 525, 490, 336, 405, 455, 305,
        680, 600, 198, 278, 518, 618, 280, 410, 510, 330, 470, 440, 440,
        300, 500, 425, 260, 300, 420, 600, 700, 600, 700, 600, 700, 600,
        600, 600, 600, 600, 285, 300, 500, 310, 518, 618, 580, 580, 580,
        600, 600, 292, 487, 313, 425, 540, 490, 290, 390, 490, 290, 370,
        490, 335, 485, 600, 534, 355, 466, 466, 288, 482, 600, 680],
       dtype=int64),
 array([300, 390, 495, 385, 345, 485, 355, 495, 355, 495, 515, 615, 410,
        505, 410, 380, 300, 410, 600, 700, 375, 330, 430, 530, 440, 440,
        355, 495, 355, 495, 485, 580, 350, 495, 350, 495, 290, 535, 525,
        280, 390, 515, 325, 475, 355, 495, 401, 567, 580, 306, 500, 362,
        521, 362, 521, 500, 600, 700], dtype=int64),
 array([310, 405, 500, 600, 435, 236, 380, 480, 295, 455, 555, 295, 455,
        348, 498, 495, 485, 525, 480, 440, 680, 680, 303, 483, 335, 480,
        275, 370, 520, 303, 483, 325, 448, 520, 520, 309, 474, 335, 335,
        335, 335, 494, 494, 494, 494, 600], dtype=int64),
 array([475, 525, 455, 535, 580, 430, 250, 450, 330, 305, 300, 480, 580,
        290, 410, 530, 580, 334, 494, 594, 510, 525, 530, 480, 520, 305,
        395, 535, 305, 485, 485, 660, 700, 700, 362, 521, 304, 514],
       dtype=int64),
 array([634, 300, 420, 600, 610, 540, 630, 340, 520, 490, 590, 300, 420,
        600, 700, 600, 700, 600, 700, 680, 780, 300, 410, 600, 700, 680,
        680, 680, 680, 320, 410, 540, 485, 300, 420, 600, 680, 680, 660,
        700, 700, 494, 362, 521, 300, 452, 600, 245, 535, 600], dtype=int64),
 array([640, 525, 405, 430, 330, 500, 600, 600, 700, 220, 420, 340, 480,
        380, 480, 305, 460, 560, 475, 468, 465, 565, 505, 329, 479, 485,
        500, 510, 600, 281, 446, 292, 351, 519, 348, 488, 330, 510, 340,
        490, 370, 510, 300, 420, 600, 530, 495, 288, 482, 680, 680],
       dtype=int64),
 array([325, 465, 465, 510, 610, 500, 600, 465, 380, 480, 330, 430, 530,
        630, 300, 420, 600, 700, 580, 600, 530, 350, 495, 424, 300, 500,
        525, 625, 535, 525, 680, 600, 508, 495, 305, 489, 300, 440, 520,
        340, 490, 484, 580, 600, 325, 448, 520, 520, 470], dtype=int64),
 array([534, 634, 395, 251, 349, 479, 579, 262, 442, 245, 455, 352, 310,
        460, 500, 600, 540, 515, 615, 580, 580, 580, 600, 262, 442, 265,
        390, 535, 405, 320, 470, 250, 340, 460, 390, 405, 430, 330, 465,
        465, 680, 680, 395, 270, 430, 270, 430, 414, 456, 310, 490, 460,
        600, 700, 680, 780, 245, 340, 485, 424, 244, 474, 348, 498, 505,
        411, 345, 545, 515, 510, 520, 600, 264, 358, 488, 313, 425, 490,
        401, 567, 305, 473, 428, 350, 510, 370, 510, 580, 580, 580, 580,
        600, 600, 278, 382, 499, 411, 500, 245, 535, 680], dtype=int64)]

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [11]:
# Your code here
from scipy.stats import f_oneway

f_oneway(*pokemon_totals)

F_onewayResult(statistic=6.6175382960055344, pvalue=2.6457458815984803e-15)

#### Interpret the ANOVA test result. Is the difference significant?

In [12]:
# Your comment here
#different pokemon types have significantly different stats